:root {
  //   === Colors
  --white: #fff;
  --black: #000;
  --color-primary: #f4c22f;
  --color-text-main: #676767;

  //  === Fonts
  // --font-dupla: "Open Sans", sans-serif;
  --font-dupla: "Dupla", sans-serif;

  //  === Topography
  --font-primary: var(--font-dupla);
  --font-size: 16px;

  // === Theme settings
  --bg-primary: var(--white);
  --text-color-primary: #676767;
  --text-color-primary-hover: var(--black);

  //  === Js variables
  --current-scrollbar-width: 0px;
  --header-height: 0px;
}
