<section class="gallery">
  <div class="scroller">
    <ul class="scroller__inner">
      <li><img class="scroller" src="./img/content/gallery/gallery-1.jpg" /></li>
      <li><img class="scroller" src="./img/content/gallery/gallery-2.jpg" /></li>
      <li><img class="scroller" src="./img/content/gallery/gallery-3.jpg" /></li>
      <li><img class="scroller" src="./img/content/gallery/gallery-4.jpg" /></li>
      <li><img class="scroller" src="./img/content/gallery/gallery-5.jpg" /></li>
      <li><img class="scroller" src="./img/content/gallery/gallery-6.jpg" /></li>
      <li><img class="scroller" src="./img/content/gallery/gallery-7.jpg" /></li>
    </ul>
  </div>
</section>
