<section class="gallery">
  <div class="scroller">
    <ul class="scroller__inner">
      <li data-aos="flip-left" data-aos-delay="50">
        <img class="scroller" src="./img/content/gallery/gallery-1.jpg" />
      </li>
      <li data-aos="flip-left" data-aos-delay="100">
        <img class="scroller" src="./img/content/gallery/gallery-2.jpg" />
      </li>
      <li data-aos="flip-left" data-aos-delay="150">
        <img class="scroller" src="./img/content/gallery/gallery-3.jpg" />
      </li>
      <li data-aos="flip-left" data-aos-delay="200">
        <img class="scroller" src="./img/content/gallery/gallery-4.jpg" />
      </li>
      <li data-aos="flip-left" data-aos-delay="250">
        <img class="scroller" src="./img/content/gallery/gallery-5.jpg" />
      </li>
      <li data-aos="flip-left" data-aos-delay="300">
        <img class="scroller" src="./img/content/gallery/gallery-6.jpg" />
      </li>
      <li data-aos="flip-left" data-aos-delay="350">
        <img class="scroller" src="./img/content/gallery/gallery-7.jpg" />
      </li>
    </ul>
  </div>
</section>
