<section class="kitchen">
  <div class="container" data-aos="fade" data-aos-duration="800">
    <div class="kitchen-content">
      <img class="kitchen-content__img"
        src="./img/content/kitchen.jpg"
        alt="our kitchen"
        data-aos="fade-left"
        data-aos-duration="500"
        data-aos-delay="100" />

      <div class="kitchen-content__details" data-aos="fade-right" data-aos-duration="500" data-aos-delay="100">
        <div class="tabs-kitchen">
          <div class="tabs-kitchen__header">
            <div class="tabs-kitchen__header-item tabs-kitchen__header-item--active">
              <span>1.</span>ingredients
            </div>

            <div class="tabs-kitchen__header-item">
              <span>2.</span>equipment
            </div>

            <div class="tabs-kitchen__header-item">
              <span>3.</span>service
            </div>
          </div>

          <div class="tabs-kitchen__content">
            <div class="tabs-kitchen__content-item">
              <img src="./img/content/equipment.png" alt="cooking equipment" />
              <h3 class="tabs-kitchen__content-title">
                the only limit is your imagination
              </h3>
              <p class="tabs-kitchen__content-text">
                Try one of our pearl sugar recipe at the comfort of your home. In the kitchen with waffle pantry. But I
                must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
                will give you a complete account of the system, and expound.
              </p>
              <a class="recipes__button" href="#">
                <span>LEARN MORE</span>
                <img src="./img/content/circle-chevron.png" alt="icon" />
              </a>
            </div>

            <div class="tabs-kitchen__content-item">
              CONTENT 2
            </div>

            <div class="tabs-kitchen__content-item">
              CONTENT 3
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
