.blog {
  padding-bottom: 34px;
  text-align: center;
  background-color: #f8f8f8;

  &__container {
    max-width: 1920px;
  }
}

.tabs-blog {
  @extend .tabs;

  &__header {
    @extend .tabs__header;
  }

  &__header-item {
    @extend .tabs__header-item;

    &--active {
      font-weight: 700;
      background-color: #f8f8f8;
    }
  }

  &__content-item {
    @extend .tabs__content-item;

    flex-direction: column;
  }
}

.blog-content {
  margin-top: 40px;
  margin-inline: auto;
  margin-bottom: 52px;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.blog-item {
  @extend .recipes-item;

  width: fit-content;
  max-width: 472px;
  background-color: #fff;

  & a {
    margin: 0;
  }

  & img {
    width: 100%;
    max-height: 315px;
    object-fit: cover;
  }

  &__content {
    padding-top: 28px;
    padding: 45px;
    padding-bottom: 35px;
    text-align: left;
  }

  &__title {
    margin-bottom: 2px;
    color: #676767;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__aftertitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-style: italic;
  }

  &__text {
    margin-bottom: 22px;
  }

  &__button {
    display: flex;
    margin-right: auto;
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}
